{% extends "layout.html" %} {% block body %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url(' {{ url_for('static' , filename = 'assets/img/About_us_Backround.jpg') }} ')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading"> </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <!-- <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2015</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2020</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section> -->

  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="{{ url_for('static' , filename = 'assets/img/Deep.jpeg') }}"
              alt="..."
            />
            <h4>Deep Patel</h4>
            <p class="text-muted">LDRP-ITR</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Parveen Anand Twitter Profile"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Parveen Anand Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Parveen Anand LinkedIn Profile"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="{{ url_for('static' , filename = 'assets/img/Dhvnil.jpg') }}"
              alt="..."
            />
            <h4>Dhvnil Prajapati</h4>
            <p class="text-muted">LDRP-ITR</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Diana Petersen Twitter Profile"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Diana Petersen Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Diana Petersen LinkedIn Profile"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="{{ url_for('static' , filename = 'assets/img/Jainam.jpg') }}"
              alt="..."
            />
            <h4>Jainam Kothari</h4>
            <p class="text-muted">LDRP-ITR</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker Twitter Profile"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker LinkedIn Profile"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img
              class="mx-auto rounded-circle"
              src="{{ url_for('static' , filename = 'assets/img/kunj.jpg') }}"
              alt="..."
            />
            <h4>Kunj Bunha</h4>
            <p class="text-muted">LDRP-ITR</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker Twitter Profile"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Larry Parker LinkedIn Profile"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <!--
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
-->
    </div>
  </section>
</main>

{% endblock %}
